@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
    background-image: url(../images/backgraoud.jpeg);
    background-repeat: repeat;
    
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

p {
    margin-bottom: 1em;
}

/* レイアウト */
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
    margin-bottom: 80px;
}
.align-center {
    text-align: center;
}

/* 見出し */
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title,
.heading-large,
.heading-medium {
    font-size: 3rem;
    text-align: center;
}
.page-title {
    margin-top: 10rem;
    line-height: 1.4;
}
.heading-large {
    margin-bottom: 1rem;
}
.heading-medium-2 {
    font-size: 2rem;
    text-align: left;
}

.typo {
    display: inline-block;
}

/* ボタン */
.btn {
    display: inline-block;
    font-size: 1.5rem;
    background-color: rgb(98, 84, 60);
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
    margin-bottom: 80px;
    margin-top: 20px;
}
.btn:hover {
    background-color: #3e372b;
}

.btn-wrapper{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-about {
    display: inline-block;
    font-size: 1.0rem;
    background-color: rgb(98, 84, 60);
    color: #fff;
    border-radius: 8px;
    padding: .75rem 0;
    transition: .5s;
    width: 200px;
    text-align: center;
    margin-top: 40px;
}
.btn-about:hover {
    background-color: #3e372b;
}


/* ヘッダー
------------------------------- */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 120px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: rgb(26, 22, 17);
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 5rem;
}
.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}

/* HOME
------------------------------- */

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 0;
}
.about p {
    margin-bottom: 3rem;
}

.toppage-image{
    width: 100%;   
    height: 400px;
    background-image:url(../images/dw5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MENU 
------------------------------- */
.cover-menu .page-title {
    margin-bottom: 5rem;
}

/* NEWS
------------------------------- */
.cover-news {
    background-image: url(../images/cover-news-s.webp);
}

/* 記事部分 */
.post {
    margin-bottom: 3rem;
    order: 1;
    width: 100%;
}
.post-title {
    font-weight: normal;
    margin-bottom: 1.25rem;
}
.post-info {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.post-cat {
    display: flex;
    gap: .5rem;
    list-style: none;
}
.post-cat a {
    color: rgb(255, 255, 255);
    background-color: rgb(98, 84, 60);
    border-radius: 8px;
    font-size: .875rem;
    padding: .5rem .75rem;
}
.post-cat a:hover {
    background-color: #c9c2bc;
}
.post-date {
    font-size: .875rem;
}
.post-thumbnail {
    border-radius: 16px;
    margin-bottom: 1.5rem;
}
.post p {
    margin-bottom: 1.5rem;
    line-height: 2;
}

/* サイドバー */
.sidebar {
    order: 3;
    width: 70%;
    float: right;
}

.side-menu {
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}
.side-menu li {
    border-bottom: 1px solid #c9c2bc;
}
.side-menu a {
    color: #432;
    display: block;
    padding: 1rem;
}
.side-menu a:hover {
    color: rgb(31, 29, 25);
}

/* ad */
.ad {
    order: 2;
    width: 30%;
}

/* collection
------------------------------- */
.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.item p {
    font-size: .875rem;
}

/*about*/
.about-guide {
    max-width: 916px;
    background-color:rgba(47, 35, 23, 0.134);
    border-radius: 48px;
    padding: 1.5rem 2.5rem 2.5rem;
    margin: 0 auto 2rem;
    text-align: center;
}

.margin-btn {
    margin-top: 80px;
}

/*guide*/
.Shopping-guide{
    text-align: center;
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
    margin-bottom: 80px;
}

hr {
    border: none;                
    border-top: 1px solid rgba(68, 51, 34, 0.471); 
    margin: 5rem 0;              
}

.hr-dotted {
    border-top-style: dotted;
}

/* フッター
------------------------------- */
.page-footer {
    background-color: rgba(47, 35, 23, 0.134);
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
}

.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: center;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}



.copyright {
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
    letter-spacing:.2rem;
}

/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {
    /* 見出し */
    .page-title {
        font-size: 5rem;
    }
    .heading-large {
        font-size: 4rem;
    }
    .post-title {
        font-size: 2rem;
    }

    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav {
        font-size: 2rem;
    }



    /* HOME */
    .about {
        margin: 4rem auto 0;
    }

    /* NEWS */
    .cover-news {
        background-image: url(../images/cover-news-l.webp);
    }
    .news-contents {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .post {
        order: 2; 
        width: 60%;
    }
    .sidebar {
        order: 3; 
        width: 20%;
    }
    .ad {
        min-width: 140px;
        order: 1;
        width: 20%;
    }

    .sidebar .heading-medium {
        line-height: 1;
        margin-bottom: 1rem;
    }

    /* フッター */
    .page-footer {
        background-color: rgba(47, 35, 23, 0.134);
    }
    .info th {
        padding-left: 2.5rem;
    }
    .sp {
    display: none;
    }
}

/* スマホ版
------------------------------- */
@media (max-width: 600px) {

.sp {
        display: inline;
    }

.main-nav {
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
}

.page-header {
    padding-top: 0.5rem;
}


.btn-wrapper {
    flex-direction: column;
    align-items: center;
}

.btn-about {
    width: 80%;
}

.news-contents {
    flex-direction: column;
}

.post,
.sidebar,
.ad {
    width: 100%;
}

.heading-medium-2 {
    font-size: 15px;
}

.heading-large {
    font-size: 30px;
    text-align: center;
}

.page-title {
    font-size: 35px;
    text-align: center;
}

}